<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeSuite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"/>
    <classes>
    <!--   <class name="smokeTest.ToDoList"/>
      <class name="smokeTest.PopUpAndAlerts"/>
      <class name="smokeTest.BaseTest"/>
      <class name="smokeTest.ButtonClickTest"/>
      <class name="smokeTest.LoginTest"/>  -->
       <class name="smokeTest.DatePicker"/>
    <!--   <class name="smokeTest.DropDowCheckboxRadioButton"/>
      <class name="smokeTest.DragAndDrop"/>z
      <class name="smokeTest.Scrolling"/> --> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

